html{
  background-color: rgb(54,57,63);  
  color: rgb(255,255,237);
}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0px;
}
.main-body{
    width: 80%;
    margin: auto;
    align-items: center;
}
.profile-header{
    font-size: 30px;    
    margin-top: 10%;
    margin-bottom: 50px;
    margin-left: 10%;
    text-align: center;
}
.user-info{
    font-size: 30px;
    margin-left: 10%;    
}
.user-profile{
    font-size: 25px;
    font-weight: 200;
    margin-top: 20px;
}
.info-container{
    display: flex;
    flex-direction: row; 
    width: 90%;
    border-bottom: 0.5px solid white;   
    margin-bottom: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}
.delete {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ebdfdd 0, #ff5454 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 20px;
}

.delete:focus {
  box-shadow: #ff5454 0 0 0 1.5px inset, rgba(230, 182, 127, 0.4) 0 2px 4px, rgba(230, 182, 127, 0.4) 0 7px 13px -3px, #ff5454 0 -3px 0 inset;
}

.delete:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff5454 0 -3px 0 inset;
  transform: translateY(-2px);
}

.delete:active {
  box-shadow: #ff5454 0 3px 7px inset;
  transform: translateY(2px);
}
a, a:visited,  a:hover{
    background-color:transparent; 
    text-decoration:none;
    color: rgb(255,255,237)
}

.menu{
    color: rgb(49, 44, 44);
    text-decoration: none;    
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;  
    margin: 0 5% 0;
  }
  .top-divider{
   border-bottom: 1px solid rgb(255,255,237);
   padding: 0
  }
  .main-menu{    
    white-space:nowrap;
    color: rgb(255,255,237);
  }
  .menu-btn{
    color:rgb(255,255,237);    
    padding-bottom: 20px;
    width: 200px;
    white-space:nowrap;
    text-align: center;
  }